@model LoL.ViewModel.TeamCreationViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Create</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Team.Id" />
            <div class="form-group">
                <label asp-for="Team.Name" class="control-label"></label>
                <input asp-for="Team.Name" class="form-control" />
                <span asp-validation-for="Team.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Team.Player1Id" class="control-label"></label>
                <select class="player-select form-control" id="player-select-1" asp-for="@Model.Team.Player1Id">
                    <option disabled=true selected=true value="">Select player</option>
                    @foreach (var player in Model.Players)
                    {
                        <option value="@player.Id">@player.Nickname</option>
                    }
                </select>
                <span asp-validation-for="Team.Player1Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Team.Player2Id" class="control-label"></label>
                <select class="player-select form-control" id="player-select-2" asp-for="@Model.Team.Player2Id">
                    <option disabled=true selected=true value="">Select player</option>
                    @foreach (var player in Model.Players)
                    {
                        <option value="@player.Id">@player.Nickname</option>
                    }
                </select>
                <span asp-validation-for="Team.Player2Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Team.Player3Id" class="control-label"></label>
                <select class="player-select form-control" id="player-select-3" asp-for="@Model.Team.Player3Id">
                    <option disabled=true selected=true value="">Select player</option>
                    @foreach (var player in Model.Players)
                    {
                        <option value="@player.Id">@player.Nickname</option>
                    }
                </select>
                <span asp-validation-for="Team.Player3Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Team.Player4Id" class="control-label"></label>
                <select class="player-select form-control" id="player-select-4" asp-for="@Model.Team.Player4Id">
                    <option disabled=true selected=true value="">select player</option>
                    @foreach (var player in Model.Players)
                    {
                        <option value="@player.Id">@player.Nickname</option>
                    }
                </select>
                <span asp-validation-for="Team.Player4Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Team.Player5Id" class="control-label"></label>
                <select class="player-select form-control" id="player-select-5" asp-for="@Model.Team.Player5Id">
                    <option disabled=true selected=true value="">Select player</option>
                    @foreach (var player in Model.Players)
                    {
                        <option value="@player.Id">@player.Nickname</option>
                    }
                </select>
                <span asp-validation-for="Team.Player5Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript" src="../../js/teamSelection.js"></script>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
