@model LoL.ViewModels.GameCreationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="form-group">
                    <label asp-for="Game.Composition1Id" class="control-label"></label>
                    <select asp-for="Game.Composition1.TeamId" class="form-control">
                        <option disabled=true selected=true value="">Select team</option>
                        @foreach (var team in Model.Teams)
                        {
                            <option value=@team.Id>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Composition1.Team!.Player1Id" class="control-label">
                        @(Model.Game?.Composition1?.Team?.Player1?.Nickname ?? "Player 1")
                    </label>
                    <select class="legend-select form-control" id="legend-select-1-1" asp-for="Game.Composition1.Legend1Id">
                        <option disabled=true selected=true value="">Select legend</option>
                        @foreach (var legend in Model.Legends)
                        {
                            <option value="@legend.Id">@legend.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Game.Composition1.Legend1Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Composition1.Team!.Player2Id" class="control-label">
                        @(Model.Game?.Composition1?.Team?.Player2?.Nickname ?? "Player 2")
                    </label>
                    <select class="legend-select form-control" id="legend-select-1-2" asp-for="Game.Composition1.Legend2Id">
                        <option disabled=true selected=true value="">Select legend</option>
                        @foreach (var legend in Model.Legends)
                        {
                            <option value="@legend.Id">@legend.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Game.Composition1.Legend2Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Composition1.Team!.Player3Id" class="control-label">
                        @(Model.Game?.Composition1?.Team?.Player3?.Nickname ?? "Player 3")
                    </label>
                    <select class="legend-select form-control" id="legend-select-1-3" asp-for="Game.Composition1.Legend3Id">
                        <option disabled=true selected=true value="">Select legend</option>
                        @foreach (var legend in Model.Legends)
                        {
                            <option value="@legend.Id">@legend.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Game.Composition1.Legend3Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Composition1.Team!.Player4Id" class="control-label">
                        @(Model.Game?.Composition1?.Team?.Player4?.Nickname ?? "Player 4")
                    </label>
                    <select class="legend-select form-control" id="legend-select-1-4" asp-for="Game.Composition1.Legend4Id">
                        <option disabled=true selected=true value="">Select legend</option>
                        @foreach (var legend in Model.Legends)
                        {
                            <option value="@legend.Id">@legend.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Game.Composition1.Legend4Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Composition1.Team!.Player5Id" class="control-label">
                        @(Model.Game?.Composition1?.Team?.Player5?.Nickname ?? "Player 5")
                    </label>
                    <select class="legend-select form-control" id="legend-select-1-5" asp-for="Game.Composition1.Legend5Id">
                        <option disabled=true selected=true value="">Select legend</option>
                        @foreach (var legend in Model.Legends)
                        {
                            <option value="@legend.Id">@legend.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Game.Composition1.Legend5Id" class="text-danger"></span>
                </div>
            </div>


            <div>
                <div class="form-group">
                    <label asp-for="Game.Composition2Id" class="control-label"></label>
                    <select asp-for="Game.Composition2.TeamId" class="form-control">
                        <option disabled=true selected=true value="">Select team</option>
                        @foreach (var team in Model.Teams)
                        {
                            <option value=@team.Id>@team.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Composition2.Team!.Player1Id" class="control-label">
                        @(Model.Game?.Composition2?.Team?.Player1?.Nickname ?? "Player 1")
                    </label>
                    <select class="legend-select form-control" id="legend-select-1-1" asp-for="Game.Composition2.Legend1Id">
                        <option disabled=true selected=true value="">Select legend</option>
                        @foreach (var legend in Model.Legends)
                        {
                            <option value="@legend.Id">@legend.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Game.Composition2.Legend1Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Composition2.Team!.Player2Id" class="control-label">
                        @(Model.Game?.Composition2?.Team?.Player2?.Nickname ?? "Player 2")
                    </label>
                    <select class="legend-select form-control" id="legend-select-1-2" asp-for="Game.Composition2.Legend2Id">
                        <option disabled=true selected=true value="">Select legend</option>
                        @foreach (var legend in Model.Legends)
                        {
                            <option value="@legend.Id">@legend.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Game.Composition2.Legend2Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Composition2.Team!.Player3Id" class="control-label">
                        @(Model.Game?.Composition2?.Team?.Player3?.Nickname ?? "Player 3")
                    </label>
                    <select class="legend-select form-control" id="legend-select-1-3" asp-for="Game.Composition2.Legend3Id">
                        <option disabled=true selected=true value="">Select legend</option>
                        @foreach (var legend in Model.Legends)
                        {
                            <option value="@legend.Id">@legend.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Game.Composition2.Legend3Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Composition2.Team!.Player4Id" class="control-label">
                        @(Model.Game?.Composition2?.Team?.Player4?.Nickname ?? "Player 4")
                    </label>
                    <select class="legend-select form-control" id="legend-select-1-4" asp-for="Game.Composition2.Legend4Id">
                        <option disabled=true selected=true value="">Select legend</option>
                        @foreach (var legend in Model.Legends)
                        {
                            <option value="@legend.Id">@legend.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Game.Composition2.Legend4Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Composition2.Team!.Player5Id" class="control-label">
                        @(Model.Game?.Composition2?.Team?.Player5?.Nickname ?? "Player 5")
                    </label>
                    <select class="legend-select form-control" id="legend-select-1-5" asp-for="Game.Composition2.Legend5Id">
                        <option disabled=true selected=true value="">Select legend</option>
                        @foreach (var legend in Model.Legends)
                        {
                            <option value="@legend.Id">@legend.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Game.Composition2.Legend5Id" class="text-danger"></span>
                </div>
            </div>

			
            <div class="form-group">
                <label asp-for="Game.Winner" class="control-label"></label>
                <input asp-for="Game.Winner" class="form-control" />
                <span asp-validation-for="Game.Winner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.GameDate" class="control-label"></label>
                <input asp-for="Game.GameDate" class="form-control" />
                <span asp-validation-for="Game.GameDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
