@model IEnumerable<LoL.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Team 1
            </th>
            <th>
                Team 2
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Winner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Composition1!.Team!.Name
            </td>
            <td>
                @item.Composition2!.Team!.Name
            </td>
            <td>
                @(
                item.Winner == item.Composition1.Id
                ? item.Composition1!.Team!.Name
                : item.Composition2!.Team!.Name
                )
            </td>
            <td>
                @item.GameDate.ToShortDateString()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
